.LogoContainer{
    max-height: 70px;
    overflow: hidden;
}

.strip{
    fill:#f2f4f5;
    position: absolute;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.reel{
position: absolute;
animation: spin 12s infinite linear;
transform-origin: 98% 88%;
fill:#f2f4f5;

}

.reelpos{
transform: translate(-20px,-15px);
position: absolute;
}