body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body, html {
  height: 100%;
  margin: 0;
  background: rgb(117,20,98);
background: linear-gradient(25deg, rgba(117,20,98,1) 0%, rgba(107,22,90,1) 8%, rgba(25,23,52,1) 74%, rgba(11,20,29,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
